<!DOCTYPE html>

<html lang="en">
	<head>
	  	<meta charset="utf-8">
	  	<title>Electronic Search Engine</title>
	  	<meta content="width=device-width, initial-scale=1.0" name="viewport">
	  	<meta content="" name="keywords">
	  	<meta content="" name="description">

	  	<!-- Favicons -->
	  	<link href="{{url_for('static',filename='img/favicon.png')}}" rel="icon">
	  	<link href="{{url_for('static',filename='img/apple-touch-icon.png')}}" rel="apple-touch-icon">

	  	<!-- Google Fonts -->
	  	<link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700|Open+Sans:300,300i,400,400i,700,700i" rel="stylesheet">

	  	<!-- Bootstrap CSS File -->
	  	<link href="{{url_for('static',filename='lib/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">

	  	<!-- Libraries CSS Files -->
	  	<link href="{{url_for('static',filename='lib/ionicons/css/ionicons.min.css')}}" rel="stylesheet">

	  	<!-- Main Stylesheet File -->
	  	<link href="{{url_for('static',filename='css/style.css')}}" rel="stylesheet">

	</head>

	<body>

	  	<header id="header">
	    	<div class="container">
	      		<div id="logo" class="pull-left">
	        		<h1><a class="scrollto">NuK-Search</a></h1>
	      		</div>
	    	</div>
	  	</header><!-- #header -->

	  	<main id="main">

	    <section id="call-to-action">
	    </section>

	    <div id="more-features" class="col-md-12 text-center fix">
		    <div class="form-group col-md-12">
		    	<input type="text" name="text" class="form-control col-lg-6 search" placeholder="Search term (e.g Television)">
		    </div>
		    <button class="btn btn-primary button">Search</button>
	    </div>

	    <!--==========================
	      More Features Section
	    ============================-->
	    <section id="more-features">
	      	<div class="container">

	        	<div class="row" id="returned">

	        	</div>
	      	</div>
	    </section><!-- #more-features -->

	  </main>

	  <!--==========================
	    Footer
	  ============================-->
	  	<footer id="footer">
	    	<div class="container">
	      		<div class="row">
	        		<div class="col-lg-12 text-center">
	          			<div class="copyright">
	            			&copy; Copyright <strong>NuK-Search</strong>. All Rights Reserved
	          			</div>
		          		<div class="credits">
		            		Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a> | Developed by <a href="">Elite Soft</a>
		          		</div>
	        		</div>
	      		</div>
	    	</div>
	  	</footer>

	  <a href="#" class="back-to-top"><i class="ion-android-arrow-up"></i></a>

	  <!-- JavaScript Libraries -->
	  <script src="{{url_for('static',filename='lib/jquery/jquery.min.js')}}"></script>
	  <script src="{{url_for('static',filename='lib/bootstrap/js/bootstrap.bundle.min.js')}}"></script>

	  <!-- Template Main Javascript File -->
	  <script src="{{url_for('static',filename='js/main.js')}}"></script>

	</body>
</html>


<script>
	$(document).ready(function() {
		$(".button").click(function() {
			var search = $(".search").val().trim();
			var file = search + ".html";
			if (search) {
				$.ajax({
					type: 'POST',
					url: "{{url_for('ebay_page_post')}}",
					data: JSON.stringify({ 'search': search }),
					contentType: 'application/json;charset=UTF-8',
					dataType: "json",
					success:function(data) {
						if (data == "1") {
							$.ajax({
							   	url:"/static/"+file,
							   	dataType:'html',
							   	success: function(items){
							       	$('#returned').html(items);
							   	}
							});
						} else {
							$("#returned").html(data);
						}
					}
				});
			}
		});
	});

</script>
